@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url($fonts + '/#{$url}') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face('Roboto', '/Roboto/Roboto-Regular.ttf', 400);
@include font-face('Moderat', '/Moderat/Moderat-Bold.woff2', 700);
@include font-face('Moderat', '/Moderat/Moderat-Extended-Bold.woff2', 700);
@include font-face('Moderat', '/Moderat/Moderat-Medium.woff2', 500);

$font-moderat: 'Moderat';
$font-extra-moderat: 'Moderat';
$font-roboto: 'Roboto', sans-serif;
