@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url($fonts + '/#{$url}') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face('Roboto', '/Roboto/Roboto-Regular.ttf', 400);
@include font-face('Roboto', '/Roboto/Roboto-Bold.ttf', 700);
@include font-face('Moderat', '/Moderat/Moderat-Bold.woff2', 700);
@include font-face('Moderat', '/Moderat/Moderat-Extended-Bold.woff2', 700);
@include font-face('Moderat', '/Moderat/Moderat-Medium.woff2', 500);
@include font-face('Moderat', '/Moderat/Moderat-Extended-Medium.woff2', 501);

$font-moderat: 'Moderat Trial', sans-serif;
$font-moderat-extra: 'Moderat Trial', sans-serif;
$font-moderat-medium: 'Moderat Trial', sans-serif;
$font-moderat-extramedium: 'Moderat Trial', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-roboto-bold: 'Roboto', sans-serif;
