@mixin flex-dir-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-dir-row {
  display: flex;
  flex-direction: row;
}

@mixin grid($columns, $cg, $rg: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-column-gap: $cg;
  grid-row-gap: $rg;
}

@mixin text-wrap($lines) {
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin narrow-container {
  @include media-breakpoint-up(xl) {
    padding-right: 92px;
    padding-left: 92px;
  }
}

.narrow-container {
  @include narrow-container;
}
