.citation {
  background-color: $black;
  padding: 177px 0;

  &__wrapper {
    margin: 0 auto;
  }

  &__big-img {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__block {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &__title {
    color: $metalic;
  }

  &__img-wrapper {
    @include aspect-ratio-pseudo(1292, 595);
    max-width: 1292px;
  }

  &__img {
    &_mob {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .citation {
    padding: 100px 0;

    &__title {
      margin-bottom: 80px;
      padding: 0;
    }

    &__block {
      top: 49%;
      left: 50%;
      transform: translate(-46%, -50%);
      width: 70%;
    }

    &__img-wrapper {
      width: unset;
      max-width: unset;
      height: unset;
    }

    &__img {
      display: none;
      &_mob {
        display: block;
      }
    }
  }
}
