.team {
  position: relative;
  padding-top: 160px;
  padding-bottom: 30px;

  &__title {
    @include headline-1;
    color: $black;
    margin-bottom: 50px;
  }

  &__text {
    @include body-large;
    color: $black;
    max-width: 544px;
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    max-width: 656px;
    width: 40%;
  }

  &__background-img {
    @include aspect-ratio-pseudo(656, 378);
  }

  &__hidden {
    height: 1px;
    visibility: hidden;
    color: transparent;
  }

  &__name {
    cursor: pointer;
  }

  &__position {
    display: none;
    color: $black;
  }

  .swiper-pagination-bullet {
    color: $metalic;
    margin-bottom: 36px;
  }

  .swiper-pagination-bullet-active {
    color: $black !important;
    .team__position {
      display: inline;
    }
  }
}

@include media-breakpoint-down(lg) {
  .team {
    padding: 100px 0;

    &__title {
      margin-bottom: 40px;
    }

    &__text {
      max-width: 315px;
      margin-bottom: 60px;
    }

    &__background {
      display: none;
    }

    &__position {
      display: block;
      color: $gray;
    }

    .swiper-pagination-bullet {
      color: $black;
      margin-bottom: 26px;
    }

    .swiper-pagination-bullet-active {
      .team__position {
        display: block;
        color: $gray;
      }
    }
  }
}
