.terms {
  background-color: $black;

  &-content {
    &_space {
      ul {
        margin: 29px 0 40px 0 !important;
      }
    }
  }

  &__title {
    padding-top: 144px;
    margin-bottom: 100px;
    letter-spacing: 0.075em;
  }

  &__subtitle {
    margin-bottom: 48px;
    letter-spacing: -0.045em;
  }
}

@include media-breakpoint-down(lg) {
  .terms {
    &__title {
      padding-top: 100px;
      margin-bottom: 56px;
    }

    &__subtitle {
      margin-bottom: 40px;
    }
  }
}
