.input {
  @include input;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba($metalic, 0.6);
  background-color: transparent;
  padding-bottom: 14px;
  max-width: 832px;
  width: 100%;

  &::placeholder {
    @include input;
  }

  &:focus::placeholder {
    color: rgba($metalic, 0.6);
  }
}

@include media-breakpoint-down(xl) {
  .input {
    max-width: unset;
    padding-bottom: 16px;
  }
}
