a {
  color: $metalic;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $gray;
  }
}
@mixin body-link {
  // @include body;
  // @include accent-main;
}

.underline {
  text-decoration: underline;
}
