.scrollup {
  display: none;
  position: fixed;
  right: 178px;
  bottom: 153px;

  i {
    transform: rotate(-90deg);
  }

  &_show {
    display: block;
  }
}

@include media-breakpoint-down(lg) {
  .scrollup {
    right: 10px;
    bottom: 40px;

    i {
      width: 24px;
      height: 14px;
    }
  }
}
