.scrollup {
  display: none;
  position: fixed;
  right: 178px;
  bottom: 153px;

  i {
    transform: rotate(-90deg);
  }

  &_show {
    display: block;
  }

  &_mobile {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .scrollup {
    display: none;

    i {
      transform: rotate(0deg);
    }

    &_mobile {
      display: block;
      position: fixed;
      right: 10px;
      bottom: 40px;
    }
  }
}
