@mixin headline {
  font-family: $font-moderat;
  font-weight: 700;
  font-style: normal;
  color: $metalic;
}

@mixin relativeSize($size) {
  font-size: calc(#{$size} / 1920 * 100vw);
}

@mixin headline-1 {
  @include headline;
  font-family: $font-moderat-extra;
  font-size: 120px;
  line-height: 96%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(120);
  }

  @include media-breakpoint-down(lg) {
    font-size: 41px;
    line-height: 98%;
  }
}

@mixin headline-em {
  @include headline;
  font-family: $font-moderat-extramedium;
  font-style: italic;
  font-weight: 501;
  font-size: 120px;
  line-height: 93%;
  letter-spacing: 0.075em;
  text-transform: uppercase;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(120);
  }

  @include media-breakpoint-down(lg) {
    font-size: 41px;
    line-height: 98%;
  }
}

@mixin headline-2 {
  @include headline;
  color: $black;
  font-size: 52px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(52);
  }

  @include media-breakpoint-down(lg) {
    font-size: 26px;
    line-height: 140%;
  }
}

@mixin headline-3 {
  @include headline;
  font-size: 24px;
  line-height: 127%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(24);
  }

  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 120%;
  }
}

@mixin headline-4 {
  @include headline;
  font-size: 20px;
  line-height: 127%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
}

h1,
.headline-1 {
  @include headline-1;
}

.headline-em {
  @include headline-em;
}

h2,
.headline-2 {
  @include headline-2;
}

h3,
.headline-3 {
  @include headline-3;
}

h4,
.headline-4 {
  @include headline-4;
}

@mixin caption {
  @include headline;
  font-family: $font-moderat-extra;
  color: $white;
  font-size: 24px;
  line-height: 67px;

  @include media-breakpoint-between(xl, xxxl) {
    @include relativeSize(24);
  }

  @include media-breakpoint-down(xl) {
    font-size: 18px;
    line-height: 26px;
  }
}

@mixin body-large {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: $white;

  @include media-breakpoint-between(xl, xxxl) {
    @include relativeSize(24);
  }

  @include media-breakpoint-down(xl) {
    font-size: 20px;
    line-height: 140%;
  }
}

@mixin body-small {
  @include body-large;
  font-size: 18px;
  line-height: 137%;

  @include media-breakpoint-between(xl, xxxl) {
    @include relativeSize(18);
  }

  @include media-breakpoint-down(xl) {
    font-size: 16px;
    line-height: 137%;
  }
}

@mixin input {
  font-family: $font-moderat-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 135%;
  letter-spacing: 0.03em;
  color: $metalic;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(42);
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 135%;
  }
}

.body-large {
  @include body-large;
}

.body-small {
  @include body-small;
}

.caption {
  @include caption;
}
