.citation-photo {
  &__name {
    text-align: right;
    margin-right: 114px;
    margin-top: 20px;
  }

  &__author {
    position: absolute;
    top: 67px;
    right: 0;
  }
}

@include media-breakpoint-down(lg) {
  .citation-photo {
    &__name {
      text-align: left;
      margin-right: unset;
    }

    &__author {
      position: absolute;
      top: 153px;
      right: 15px;
      width: 40%;
    }
  }
}
