.contact-links {
  margin-top: 120px;

  &__item {
    @include input;
    text-transform: uppercase;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .contact-links {
    margin-top: 82px;

    &__item {
      margin-bottom: 20px;
    }
  }
}
