.metalcore-soon {
  margin-top: 69px;

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    @include body-large;
    margin-bottom: 40px;

    &_up {
      text-transform: uppercase;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .metalcore-soon {
    margin-top: 0;

    &__title-soon {
      display: none;
    }

    &__text-soon {
      margin-bottom: 28px;
    }
  }
}
