.partners {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    max-width: 220px;
  }

  &__scroll {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mob {
    display: none;
  }
}

@include media-breakpoint-down(xxl) {
  .partners {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;

    &__title {
      margin-bottom: 45px;
    }

    &__scroll {
      align-items: unset;
      justify-content: center;
    }

    &__mob {
      display: block;
      overflow: scroll;
      width: 100%;
      position: relative;
      will-change: transform;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &__img {
      max-height: 40px;
      margin-right: 50px;
    }

    &__imgs {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: fit-content;
      will-change: transform;
    }

    &__scroll {
      justify-content: center;
      display: flex;
      align-items: center;
      will-change: transform;
      transform: translate3d(0px, 0px, 0px);
      width: max-content;
    }

    &__desktop {
      display: none;
    }
  }
}
